extends layout

block content
  div.container
    h1.mb-1 Upload a Restaurant Menu
    
    p.text-muted.mb-5 ... let’s see if there’s Tatar, Pizza, or Spaghetti
    
    form.mt-4.mb-4(action="/", method="POST", enctype="multipart/form-data") 
      div.row.justify-content-center
        div.col-8
          input.form-control(name="file", type="file", accept=".jpg, .jpeg, .png", required)
      button.btn.btn-primary.btn-lg.mt-5(type="submit") Go!