doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    // Added at the end of the file for better performance
    script(src='/javascripts/bootstrap.bundle.js')