body, html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;  
  background-color: rgb(96, 155, 111);
}

.container {
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}
